<section>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <img src="/images/lerian.jpg" alt="Lerian" class="img-fluid img-thumbnail">
                <h1 class="display-5 mt-3"><b>Lerian Febriana, A.Md.Kom</b></h1>
                <p class="lead">Informatics Engineer</p>
            </div>
        </div>
    </div>
</section>