<section>
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Halo, <%= nama %>!</h1>
            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <h4>Daftar Mahasiswa</h4>
            <% if(mahasiswa.length < 1) { %>
                <p>Data mahasiswa masih kosong</p>
            <% } else { %>
                <ul>
                <% mahasiswa.forEach(mhs => { %>
                    <li>Nama: <%= mhs.nama %></li>
                    <li>Email: <%= mhs.email %></li>
                <% }) %>
                </ul>
            <% } %>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
            </p>
        </div>
    </div>
</section>