<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="my-3"><b>Tambah data kontak</b></h2>

                <% if (typeof errors != 'undefined') {%> 
                  <div class="alert alert-danger" role="alert">
                    <ul>
                      <% errors.forEach(error => { %>
                        <li><%= error.msg %></li>
                      <% }) %>
                    </ul>
                  </div>
                <% } %> 

                <form method="POST" action="/contact">
                    <div class="form-group">
                      <label for="nama">Nama</label>
                      <input type="text" class="form-control" id="nama" name="nama" required>
                    </div>
                    <div class="form-group">
                      <label for="email">Email</label>
                      <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                    <div class="form-group">
                      <label for="nohp">No Handphone</label>
                      <input type="text" class="form-control" id="nohp" name="nohp" required>
                    </div>
                    <button type="submit" class="btn btn-primary btn-sm">Simpan</button>
                </form>
            </div>
        </div>
    </div>
</section>